div.hint_message_container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

div.hint_message_container svg.icon {
  fill: var(--secondary-medium);
  min-width: 1rem;
  max-width: 1rem;
}

div.hint_message_container p.hint_message {
  font-size: 0.875rem;
}

div.hint_message_container.error svg.icon {
  fill: var(--danger);
}

div.hint_message_container.error p.hint_message {
  color: var(--danger);
}
